<!-- ERROR MESSAGE - START -->
<section id="message" class="error-message mobile:padding-y-8 tablet:padding-y-10 desktop-lg:padding-y-15">
    <div class="grid-container">
        <div class="grid-row grid-gap flex-align-center">
            <div class="col-12 desktop-lg:grid-col-10 desktop-lg:grid-offset-1 error-message__content">
                <h1 class="margin-top-0 text-center">The page you're looking for isn't available</h1>
                <p>Here are some suggestions:</p>

                <ul>
                    <li>Use the menu above to navigate to the information you want.</li>
                    <li>If you typed the page address in the address bar, make sure that you spelled it correctly.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- ERROR MESSAGE - END -->